/* components/Dashboard/Dashboard.css */
.box {
  border: 1px solid;
}

.shadowDiv-t {
  box-shadow: 0px 0px 10px 10px #fff;
}

.shadowDiv-b {
  box-shadow: 0px 0px 10px 10px #fff;
}

.sidebar {
  position: relative;
  width: 208px;
  min-width: 208px;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (width <=860px) {
  .sidebar {
    position: absolute;
    width: 0px;
    min-width: 0px;
  }
}

.topbar {

}

.maingrid {

}