/* app/global.css */
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Alan Sans", sans-serif;
}

html {
  padding: 0%;
  margin: 0%;
  width: 100vw;
  height: 100vh;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  /* padding: 0%; */
  margin: 0%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  color: #000;
  overflow-x: hidden;
}

@media (width <=480px) {
  body {
    padding: 14px;
    padding-bottom: 24px;
  }
}

h1 {
  letter-spacing: -.05em;
  font-size: max(42px, min(5vw, 76px));
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  font-size: max(18px, min(2vw, 24px));
  font-weight: 500;
  line-height: 1.8;
}

p {
  font-size: max(15px, min(2vw, 20px));
  font-weight: 400;
  line-height: 1.8;
}

.corner-shape {
  border-radius: 10rem !important;
  corner-shape: squircle !important;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  /* border-radius: 10px; */
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #808080;
  border: 4px solid #fff;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

@media (width <=640px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}