/* app/global.css */
@import "tailwindcss";

html {
  padding: 0%;
  margin: 0%;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  padding: 0%;
  margin: 0%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  color: #000;
}

h1 {
  letter-spacing: -.05em;
  font-size: max(42px, min(5vw, 76px));
  font-weight: 600;
  line-height: 1;
  box-shadow: 0 0 10px 10px #ffffff;
}

p {
  font-size: max(15px, min(2vw, 20px));
  font-weight: 400;
  line-height: 1.8;
}

div {}